.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.py[cod]
*.so
*.sqlite
*.venv
.env/
.venv/
.coverage
.cache
pytest_cache/
.pytest_cache/
*.cover
.coverage.*
.cache/
nose2-*
.pytest_cache/
google_creds.json